body{
  font-family: Helvetica,sans-serif;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(-225deg, #007D2B 0%, #000866 100%);
  background-repeat: no-repeat;
}

h1{
  color: white;
  font-size: 10em;
  flex

}
